.carousel-item{
      background: no-repeat scroll center scroll;
      -webkit-background-size: cover;
      background-size: cover;
  }
  .carousel-item::before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #000;
    opacity: 0.7;
  } 

  .carousel-caption{
      bottom: 180px;
      padding-left: 100px;
      padding-right: 100px;

  }
  /* .carousel-caption h3{
      font-size: 50px;
      font-weight: 700;
  }
  .carousel-caption p{
      margin-top: 18px;
      top: 2rem;
  } */